.title{
    width: 100%;
    background: url("../img/test.jpg");
    text-align: center;
}
.sliderStyle{
    
    width: 100%;
}
.showData{
    position: absolute;
    left:0%;
}
#thisYear{
    position: relative;
}
#map {
    width: 100%;
    height: 700px;
    background-color: grey;
  }

body{
    
    max-width: 960px;
    margin: auto;
}
div{
    margin: auto;
}
 